<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,174},{305,40}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,8},{305,40}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{357,42}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{357,42}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,90},{353,40}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{353,40}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,46},{353,42}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,8},{353,42}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,527},{409,42}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,7},{409,42}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,603},{405,42}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{405,42}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,132},{335,40}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,8},{335,40}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,357},{387,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,9},{387,40}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,132},{393,40}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,8},{393,40}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,216},{385,44}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,6},{385,44}}</string>
                <key>sourceSize</key>
                <string>{473,56}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,294},{258,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,61}}</string>
                <key>sourceSize</key>
                <string>{258,61}</string>
            </dict>
            <key>coombo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,953},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>evaluate_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,953},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>evaluate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,933},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>evaluate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1155},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>evaluate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>evaluate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>evaluate_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,933},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>last_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,255},{280,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,37}}</string>
                <key>sourceSize</key>
                <string>{280,37}</string>
            </dict>
            <key>level_tip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{640,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,184}}</string>
                <key>sourceSize</key>
                <string>{640,184}</string>
            </dict>
            <key>level_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{640,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,184}}</string>
                <key>sourceSize</key>
                <string>{640,184}</string>
            </dict>
            <key>level_tip_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{640,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,184}}</string>
                <key>sourceSize</key>
                <string>{640,184}</string>
            </dict>
            <key>level_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{640,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,184}}</string>
                <key>sourceSize</key>
                <string>{640,184}</string>
            </dict>
            <key>level_tip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{640,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,184}}</string>
                <key>sourceSize</key>
                <string>{640,184}</string>
            </dict>
            <key>level_tip_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,861},{429,90}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{429,90}}</string>
                <key>sourceSize</key>
                <string>{459,98}</string>
            </dict>
            <key>level_tip_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,861},{429,90}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{429,90}}</string>
                <key>sourceSize</key>
                <string>{459,98}</string>
            </dict>
            <key>level_tip_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{431,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{431,90}}</string>
                <key>sourceSize</key>
                <string>{459,98}</string>
            </dict>
            <key>level_tip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{640,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,184}}</string>
                <key>sourceSize</key>
                <string>{640,184}</string>
            </dict>
            <key>level_tip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,184}}</string>
                <key>sourceSize</key>
                <string>{640,184}</string>
            </dict>
            <key>no_money_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,424},{238,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{238,65}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
            <key>reward_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,787},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,713},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>reward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,639},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>reward_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,565},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>reward_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,491},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>sure_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,357},{238,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{238,65}}</string>
                <key>sourceSize</key>
                <string>{248,73}</string>
            </dict>
            <key>target.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,216},{280,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,37}}</string>
                <key>sourceSize</key>
                <string>{280,37}</string>
            </dict>
            <key>time_over_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{640,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,93}}</string>
                <key>sourceSize</key>
                <string>{640,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alertandcombo.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d1c557d3e743f82554bc8e216190d31:1/1$</string>
            <key>textureFileName</key>
            <string>alertandcombo.png</string>
        </dict>
    </dict>
</plist>
