<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worm10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{72,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{72,136}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,742},{72,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{72,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,672},{72,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{72,136}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,516},{72,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{72,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,668},{72,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{72,136}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,442},{72,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{72,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,594},{72,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{72,136}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,368},{72,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{72,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{80,136}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{80,136}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,590},{80,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{80,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,354}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,2},{84,354}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>worm15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,306}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,51},{84,306}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>worm16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{94,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{94,152}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>worm16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{148,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{148,152}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>worm17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{180,162}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>worm17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,428},{178,164}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{178,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>worm18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,152},{192,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,274}}</string>
                <key>sourceSize</key>
                <string>{192,274}</string>
            </dict>
            <key>worm18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{192,270}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,270}}</string>
                <key>sourceSize</key>
                <string>{192,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>faceworm.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e28ac704aa2aab0cbc2075f15b1d240:1/1$</string>
            <key>textureFileName</key>
            <string>faceworm.png</string>
        </dict>
    </dict>
</plist>
