<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worm1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,520},{72,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{72,116}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,520},{72,102}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{72,102}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm1_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,261},{220,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,257}}</string>
                <key>sourceSize</key>
                <string>{220,257}</string>
            </dict>
            <key>worm2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,533},{72,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{72,116}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,910},{72,102}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{72,102}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm2_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,651},{220,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,257}}</string>
                <key>sourceSize</key>
                <string>{220,257}</string>
            </dict>
            <key>worm3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,533},{72,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{72,116}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,910},{72,102}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{72,102}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm3_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{220,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,257}}</string>
                <key>sourceSize</key>
                <string>{220,257}</string>
            </dict>
            <key>worm4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,533},{72,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{72,116}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,910},{72,102}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{72,102}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm4_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,274},{220,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,257}}</string>
                <key>sourceSize</key>
                <string>{220,257}</string>
            </dict>
            <key>worm5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,942},{80,110}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{80,110}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{80,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{80,124}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>worm6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,354}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{84,354}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>worm6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{84,306}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,51},{84,306}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>worm7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,520},{94,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{94,152}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>worm7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,804},{148,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{148,152}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>worm8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{180,162}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>worm8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,624},{178,164}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{178,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>worm9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{192,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,274}}</string>
                <key>sourceSize</key>
                <string>{192,274}</string>
            </dict>
            <key>worm9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{192,270}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,270}}</string>
                <key>sourceSize</key>
                <string>{192,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normalworm.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ecbadc3dc4da8b27a571586a119f5a0:1/1$</string>
            <key>textureFileName</key>
            <string>normalworm.png</string>
        </dict>
    </dict>
</plist>
