<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{301,123}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{301,123}}</string>
                <key>sourceSize</key>
                <string>{309,127}</string>
            </dict>
            <key>continue_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,176},{301,123}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{301,123}}</string>
                <key>sourceSize</key>
                <string>{309,127}</string>
            </dict>
            <key>end_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{301,123}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{301,123}}</string>
                <key>sourceSize</key>
                <string>{309,127}</string>
            </dict>
            <key>end_game_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,123}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{301,123}}</string>
                <key>sourceSize</key>
                <string>{309,127}</string>
            </dict>
            <key>endgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,89},{161,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{161,85}}</string>
                <key>sourceSize</key>
                <string>{165,89}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,318},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,247},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,176},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>tryAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{161,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{161,85}}</string>
                <key>sourceSize</key>
                <string>{165,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c1749d98a7f52a71babd6864811d3ae:1/1$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
