<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>money_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,856},{160,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,39}}</string>
			<key>sourceSize</key>
			<string>{160,39}</string>
		</dict>
		<key>power_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,2},{186,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,78}}</string>
			<key>sourceSize</key>
			<string>{186,78}</string>
		</dict>
		<key>shop_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,220}}</string>
			<key>sourceSize</key>
			<string>{640,220}</string>
		</dict>
		<key>skill.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{186,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,78}}</string>
			<key>sourceSize</key>
			<string>{186,78}</string>
		</dict>
		<key>skill_shop_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,224},{630,132}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{630,132}}</string>
			<key>sourceSize</key>
			<string>{640,136}</string>
		</dict>
		<key>skill_shop_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,224},{630,132}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{630,132}}</string>
			<key>sourceSize</key>
			<string>{640,136}</string>
		</dict>
		<key>skill_shop_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,224},{630,132}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{630,132}}</string>
			<key>sourceSize</key>
			<string>{640,136}</string>
		</dict>
		<key>skill_shop_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,224},{630,132}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{630,132}}</string>
			<key>sourceSize</key>
			<string>{640,136}</string>
		</dict>
		<key>skill_shop_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,856},{630,132}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{630,132}}</string>
			<key>sourceSize</key>
			<string>{640,136}</string>
		</dict>
		<key>skill_shop_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,224},{630,132}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{630,132}}</string>
			<key>sourceSize</key>
			<string>{640,136}</string>
		</dict>
		<key>unlock.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,856},{160,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,39}}</string>
			<key>sourceSize</key>
			<string>{160,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shop.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3fc81b920bf8ab5089853b083aa99c84:1/1$</string>
		<key>textureFileName</key>
		<string>shop.png</string>
	</dict>
</dict>
</plist>
